[Unit]
Description=Java web-server manager
Requires=network.target
After=network.target
ConditionPathExists={{ app_dir }}/{{ app_file }}

[Install]
WantedBy=multi-user.target

[Service]
Environment=PORT={{ app_port }}
ExecStart=java -jar {{ app_dir }}/{{ app_file }}
Restart=always
RestartSec=10s